:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #d9d9d9;
  --lightgray: #ededed;
  --red: #b90000;

  --gree: #000000;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; /* Box Model Hack */
  scroll-snap-type: y mandatory;
}

body {
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Oswald", sans-serif;
}

.bodyCatalog{
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  background-attachment: fixed;
  
  height: 300vh;
}

.cover {
  background-color: aqua;
  height: 50vh;
  margin-top: 90vh;
  padding: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Main-Container */

.main-container {
  max-width: 120rem;
  margin: 2rem auto;
  background-color: var(--lightgray);
  padding: 1.5rem;
  /* display: flex;
  justify-content: center; */
  border-radius: 2.7rem;
}
.title {
  font-family: "Podkova", serif;
  background-color: var(--gray);
  /* padding: 1rem; */
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
}
.title > h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--black);
}

.top-bar {
  border-radius: 2.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem;
}

.main-nav {
  background-color: var(--gray);
  border-radius: 1rem;
  width: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.5rem;
}

.button {
  padding: 0.5rem 2rem;
  background-color: var(--lightgray);
  border-radius: 1rem;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Podkova", serif;
  font-size: 2rem;
  color: var(--black);
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchQueryInput {
  width: 80%;
  height: 2.8rem;
  background: var(--lightgray);
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 2rem;
}

.table,
th {
  border: 1px solid;
}

.table-bg {
  margin-top: 3rem;
  height: 45rem;
}

.table {
  text-align: center;
}

.row-header {
  color: var(--white);
  background-color: var(--red);
  font-family: "Podkova", serif;
  font-size: 1.8rem;
}
.table-row {
  height: 8rem;
  background-color: var(--gray);
}

/*! Pokedex */

.pokedex {
  /* background-color: #000000; */
  height: 50rem;
  display: flex;
}

.pokedex-image {
  background-image: url("../img/pokedex.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: 70rem;
}

#pokemon-image {
  position: relative;
  top: 40%;
  left: 22%;
}

.pokemon-stats {
  margin: auto;
}

.pokemon-name {
  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  background-color: var(--red);
  text-align: center;
  padding: 1rem;
  border: .3rem solid var(--black);
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.type-list{
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
}

li{
  margin: 2rem;
  list-style-type: none;
  padding: 0.4rem 1.6rem;
  font-weight: bold;
  color: var(--white);
  -webkit-text-stroke: 1px black;
  border: 2px solid black;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}









.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;

}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 2em;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}





@keyframes bounce {
  20% {
      transform: translateY(-6px);
  }
  40% {
      transform: translateY(0px);
  }

  80% {
      transform: translateY(-2px);
  }
  100% {
      transform: translateY(0);
  }
}

/* 
*{
  border: 1px solid black;
} */

