:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #d9d9d9;
  --lightgray: #ededed;
  --red: #b90000;

  --gree: #A33EA1;
}

/* *{
  border: 1px solid black;
} */

*{
  font-family: "Podkova", serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; /* Box Model Hack */
  scroll-snap-type: y mandatory;
}

body {
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

/* Main-Container */

.main-container {
  max-width: 120rem;
  margin: 2rem auto;
  background-color: var(--lightgray);
  padding: 1.5rem;
  border-radius: 2.7rem;
}
.title {
  font-family: "Podkova", serif;
  background-color: var(--gray);
  /* padding: 1rem; */
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
}
.title > h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--black);
}

.top-bar {
  border-radius: 2.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem;
}

.main-nav {
  background-color: var(--gray);
  border-radius: 1rem;
  width: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.5rem;
}

.button {
  padding: 0.5rem 2rem;
  background-color: var(--lightgray);
  border-radius: 1rem;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Podkova", serif;
  font-size: 2rem;
  color: var(--black);
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchQueryInput {
  width: 80%;
  height: 2.8rem;
  background: var(--lightgray);
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 2rem;
}

.table,
th {
  border: 1px solid;
  font-family: "Podkova", serif;
}

.table-bg {
  margin-top: 3rem;
  height: 45rem;
}

.table {
  text-align: center;
}

.row-header {
  color: var(--white);
  background-color: var(--red);
  font-family: "Podkova", serif;
  font-size: 1.8rem;
}
.table-row {
  height: 8rem;
  background-color: var(--gray);
  list-style-type: none;
}

/*! Pokedex */

.pokedex {
  /* background-color: #000000; */
  height: 50rem;
  display: flex;
}

.pokedex-image {
  background-image: url("../img/pokedex.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: 70rem;
}

#pokemon-image {
  position: relative;
  top: 33%;
  left: 18%;
}

.pokemon-stats {
  margin: auto;
}

.pokemon-name {
  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  background-color: var(--red);
  text-align: center;
  padding: 1rem;
  border: .3rem solid var(--black);
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
  padding: 0.5rem 2rem;
  background-color: var(--lightgray);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Podkova", serif;
  font-size: 2rem;
  color: var(--black);
}

.type-list{
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;

  
}

.type-list>li{
  margin: 2rem;
  list-style-type: none;
  padding: 0.4rem 1.6rem;
  font-weight: bold;
  color: var(--white);
  border: 2px solid black;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pokemon-measures{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;

  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  background-color: var(--red);
  text-align: center;
  padding: 1rem;
  border: .3rem solid var(--black);
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
  padding: 0.5rem 2rem;
  background-color: var(--lightgray);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Podkova", serif;
  font-size: 2rem;
  color: var(--black);
}

.pokemon-abilities{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;

  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  background-color: var(--red);
  text-align: center;
  padding: 1rem;
  border: .3rem solid var(--black);
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
  padding: 0.5rem 2rem;
  background-color: var(--lightgray);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Podkova", serif;
  font-size: 2rem;
  color: var(--black);
  
}

.abilities-list>li{
  
  font-size: 1.5rem;
  font-weight: bold;
  list-style-type: none;

  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
  background-color: var(--red);
  text-align: center;
  padding: 1rem;

  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
  padding: 0.5rem 2rem;
  background-color: var(--lightgray);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Podkova", serif;
  font-size: 2rem;
  color: var(--black);
  display:inline;
}


/* *{
  border: 1px solid black;
} */

.normal{
  background-color: #A8A77A;
  cursor: pointer;
}
.fire{
  background-color: #EE8130;
  cursor: pointer;
}
.water{
  background-color: #6390F0;
  cursor: pointer;
}
.electric{
  background-color: #F7D02C;
  cursor: pointer;
}
.grass{
  background-color: #7AC74C;
  cursor: pointer;
}
.ice{
  background-color: #96D9D6;
  cursor: pointer;
}
.fighting{
  background-color: #C22E28;
  cursor: pointer;
}
.poison{
  background-color: #A33EA1;
  cursor: pointer;
}
.ground{
  background-color: #E2BF65;
  cursor: pointer;
}
.flying{
  background-color: #A98FF3;
  cursor: pointer;
}
.psychic{
  background-color: #F95587;
  cursor: pointer;
}
.bug{
  background-color: #A6B91A;
  cursor: pointer;
}
.rock{
  background-color: #B6A136;
  cursor: pointer;
}
.ghost{
  background-color: #735797;
  cursor: pointer;
}
.dragon{
  background-color: #6F35FC;
  cursor: pointer;
}
.dark{
  background-color: #705746;
  cursor: pointer;
}
.steel{
  background-color: #B7B7CE;
  cursor: pointer;
}
.fairy{
  background-color: #D685AD;
  cursor: pointer;
}
